<header class="navbar">
  <div class="container">
    <hgroup>
      <h1>Bjørnebandens Bog Bibliotek</h1>
    </hgroup>

    <nav>
      <ul>
        <li><a href="/">Forside</a></li>
        <li><a href="/books">Bøger</a></li>
      </ul>
    </nav>
  </div>
</header>
